.todo-template {
    position: relative;
    width: 80%;
    height: 80vh;
    max-width: 414px;
    min-width: 360px;
    min-height: 640px;
    border: 1px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 1.5rem auto 0;
    overflow: hidden;

    header {
        background: #db7676;
        border-bottom: 1px solid #333;
        height: 60px;
        h1 {
            font-size: 1.6rem;
            margin: 0;
            padding: 0.8rem 0.8rem;
        }
    }
}
