.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #353535;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    &:nth-child(2n) {
        background: #eee;
    }
    .todo-title {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px 0 30px;
        font-size: 1rem;
        line-height: 1.5;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            left: 15px;
            top: 50%;
            display: block;
            width: 20px;
            height: 20px;
            background: #999;
            border-radius: 2px;
            transform: translate(-50%, -50%);
        }
        &:after {
            content: "";
            position: absolute;
            left: 15px;
            top: 50%;
            display: block;
            width: 14px;
            height: 6px;
            border: 2px solid #fff;
            border-width: 0 0 2px 2px;
            box-sizing: border-box;
            transform: translate(-50%, -50%) rotateZ(-45deg);
        }
        &.isChecked:after {
            border-color: red;
        }
        & > span,
        & > textarea {
            display: block;
            width: 100%;
            min-height: 24px;
            font-size: 14px;
            line-height: 1.5;
            padding: 0;
            font-family: sans-serif;
            word-break: break-all;
            resize: none;
            border: none;
            background: none;
            &:focus {
                outline: none;
            }
        }
        & > textarea {
            display: none;
            height: 24px;
        }

        &.editmode > span {
            display: none;
        }
        &.editmode > textarea {
            display: block;
        }
    }

    button + button {
        margin-left: 2px;
    }
    .todo-update {
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background: #333;
        outline: none;
        box-sizing: border-box;
        font-size: 0;
        color: #fff;
        svg {
            width: 80%;
            height: 80%;
        }
    }

    .todo-delete {
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background: #333;
        outline: none;
        box-sizing: border-box;
        font-size: 0;
        color: #fff;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            display: block;
            width: 15px;
            height: 3px;
            background: #fff;
            transform: translate(-50%, -50%) rotateZ(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotateZ(-45deg);
        }
        svg {
            width: 80%;
            height: 80%;
        }
    }
}
