.todo-template {
    width: 80%;
    height: 80vh;
    max-width: 414px;
    min-width: 360px;
    min-height: 640px;
    border: 1px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 1.5rem auto 0;

    header {
        background: #ccc;
        border-bottom: 1px solid #333;
        h1 {
            font-size: 2rem;
            margin: 0;
            padding: 0.6rem 0.6rem;
        }
    }
}
